.Home {
    padding: 0 7.5%;
    display: flex;

    img {
        @media screen and (max-width: 1092px) {
            width: 30%;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    form {
        margin-left: 40px;
        width: 100%;
        margin-bottom: 24px;

        button {
            display: block;
            margin-top: 24px;
            margin-left: auto;
        }
    }
}