.Quiz {
  margin: 40px 7.5%;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 32px;
      font-weight: $font-medium;
    }

    p {
      font-size: 24px;
    }
  }

  section {
    > ul {
      margin: 16px;

      > li {
        font-weight: $font-medium;

        ul {
          margin: 8px 16px;
          font-weight: $font-regular;

          li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;

            span {
              color: $main-color;
              font-weight: $font-medium;

              a:first-of-type {
                margin-right: 16px;
              }

              button {
                padding: 0;
                border: 0;
                font-weight: $font-medium;
                background-color: transparent;
                color: $main-color;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    margin-top: 24px;
    justify-content: center;

    .btn {
      width: max-content;
      padding: 0 16px;
    }

    a {
      margin-right: 16px;
    }
  }
}
